@import "./variables.scss";

body {
  font-size: $font-size-body;
}
//headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1 {
}
h2 {
}
h3 {
}

p,
a,
li,
footer {
  font-family: $primary-font;
  font-size: 18px;
}

a {
  color: null;
  text-decoration: none;
}
svg {
  font-size: 30px!important;
  opacity: .3;
  margin-right:15px;
  &:hover {
    opacity: .6;
  }
}
