// regular
@font-face {
    font-family: ws_light;
    src: url("/fonts/work_sans/WorkSans-Regular.ttf");
}
// italic
@font-face {
    font-family: ws_light_italic;
    src: url("/fonts/work_sans/WorkSans-Italic.ttf");
}



//colors
$primary-color: #0091ea;
$secondary-color: null;
$tertiary-color: null;

//fonts
$primary-font: ws_light;
$primary-font-italic: ws_light_italic;
$secondary-font: Helvetica;

$font-size-body: 16px;
$font-size-secondary: 14px;

//add rem font sizing orr % based font sizing

//breakpoints
$media-lg: 1200px;
$media-sm: 800px;
